$backgroundEnabled: #1976d2;
$backgroundDisabled: lightgrey;

@mixin generalStyle {
    height: 40px;
    border-radius: 5px;
  }

.buttonStyleEnabled {
    @include generalStyle;
    background-color: $backgroundEnabled;
}

.buttonStyleDisabled {
    @include generalStyle;
    background-color: $backgroundDisabled;
}